*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-family-base: 'Montserrat', sans-serif;
$primary: black;
$body-bg: black;







@import "../node_modules/bootstrap/scss/bootstrap";